body {
    background-image: url("../images/crystalball-wallpaper.jpg");
} 

h1, h3, .score {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 200px;

}

#userGuess {
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 200px;
    border: 1px solid purple;

}

